.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.header {
    background-color: #0078d7;
    -webkit-box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.2);
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
